# Editor temp files

*~
#*#

# Terraform. Normally this would be in VC, but it has personal stuff
# in it, so...
terraform/

# Haskell build outputs

.stack-work/
dist-newstyle/
/server/server-exe

# PureScript build outputs

.spago
.psci-modules
/client/output/
/client/index.js

# Bundle outputs

/output/
